<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LuckyFuture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LuckyFuture.Properties.Settings>
      <setting name="LoginId" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSaveLoginId" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LossStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EarnStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LossPayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EarnPayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LossPayoffMoney" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EarnPayoffMoney" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LossStopMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EarnStopMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BettingCandleCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="IsAutoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChartType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvgType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CandlePayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CandlePayoffCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BettingType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BettingTickCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TickPayoffCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrderStopDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BettingCandleNext" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderType" serializeAs="String">
        <value>0</value>
      </setting>
    </LuckyFuture.Properties.Settings>
  </userSettings>

</configuration>