<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LuckyFuture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LuckyFuture.Properties.Settings>
      <setting name="LoginId" serializeAs="String">
        <value />
      </setting>
      <setting name="IsSaveLoginId" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SiteId" serializeAs="String">
        <value />
      </setting>
      <setting name="SitePassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LossStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EarnStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LossPayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EarnPayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LossPayoffMoney" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EarnPayoffMoney" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="LossStopMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EarnStopMoney" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BettingCandleCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="IsAutoMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChartType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SiteType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvgType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CandlePayoff" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CandlePayoffCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="BettingType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BettingTickCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TickPayoffCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderStop" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OrderStopDelay" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BettingCandleComplete" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OrderType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrderMax" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Reorder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerTimeDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BoLineAdjust" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BettingEnter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LiquidStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ItemOverTick" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="PriceFormat" serializeAs="String">
        <value>{0:0.00}</value>
      </setting>
      <setting name="ForceEarnPayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SmartLossPayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BandChart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BandVal1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BandVal2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BandChartType1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BandChartType2" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BandChartType3" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BandChartType4" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BandVal3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmartEarnTick" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmartLossTick" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmartLossUnit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LockPwd" serializeAs="String">
        <value>7kWqr0Doi2YdYmxqEFoX3g==</value>
      </setting>
      <setting name="CrossLossPayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrossLossTick" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CrossLossUnit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AlarmStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InformStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChkNoticeDay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NoticeViewTime" serializeAs="String">
        <value />
      </setting>
      <setting name="EarnPayoffN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EarnPayoffMoneyN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LossPayoffN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LossPayoffMoneyN" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrderSelectOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OrderSelectType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartChartDt" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoReserveTime" serializeAs="String">
        <value>2023-09-04</value>
      </setting>
      <setting name="AutoReserveOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfitStop" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProfitStopRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Conc1On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Conc1Min" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Conc1Cnt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Conc2On" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Conc2Chart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Conc2Candle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Conc2Cnt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AdxOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AdxCnt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SmartRangePayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CrossRangePayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SignalSiteOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CciOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CciRange1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciRange2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciSide1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciSide2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RsiOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RsiRange1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RsiRange2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RsiSide1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RsiSide2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvgsOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AvgsCandle" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AvgsSide1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AvgsSide2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PayoffLossRange" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1#0#50#</string>
            <string>1#10#40#</string>
            <string>1#30#30#</string>
            <string>1#50#20#</string>
            <string>1#70#10#</string>
            <string>1#100#5#</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SmartLossRange" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1#10#50#50</string>
            <string>1#20#45#50</string>
            <string>1#30#40#50</string>
            <string>1#40#35#50</string>
            <string>1#50#30#50</string>
            <string>1#60#25#50</string>
            <string>1#70#20#50</string>
            <string>1#80#15#50</string>
            <string>1#90#10#50</string>
            <string>1#100#5#50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CrossLossRange" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1#10#50#50</string>
            <string>1#20#45#50</string>
            <string>1#30#40#50</string>
            <string>1#40#35#50</string>
            <string>1#50#30#50</string>
            <string>1#60#25#50</string>
            <string>1#70#20#50</string>
            <string>1#80#15#50</string>
            <string>1#90#10#50</string>
            <string>1#100#5#50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CciLossRange" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1#100#50#50</string>
            <string>1#150#40#50</string>
            <string>1#200#30#50</string>
            <string>1#250#20#50</string>
            <string>1#300#10#50</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LossRangePayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CciPayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CciPayoffValue1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciRangePayoff" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CciPayoffValue2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OrdCnts" serializeAs="String">
        <value>1#2#5#10</value>
      </setting>
      <setting name="EarnTicks" serializeAs="String">
        <value>20#30#50#100</value>
      </setting>
      <setting name="LossTicks" serializeAs="String">
        <value>20#30#50#100</value>
      </setting>
      <setting name="BoOrdType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciPayoffValue3" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciRange11" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CciRange21" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SyncChart" serializeAs="String">
        <value>False</value>
      </setting>
    </LuckyFuture.Properties.Settings>
  </userSettings>
  <system.windows.forms jitDebugging="true" />
</configuration>