<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChartCtrl.Properties.Settings>
            <setting name="ChartStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RtTimeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RtTimeUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DtTimeType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DtTimeUnit" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AvgLineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AvgLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AvgLineColor1" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="AvgLineColor2" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="AvgLineColor3" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="AvgLineColor4" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="AvgLineColor5" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BoLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BoLineColor1" serializeAs="String">
                <value>Aqua</value>
            </setting>
            <setting name="BoLineColor2" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="BoLineAdjustR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BoLineAdjustD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AvgLineColor6" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Avg5On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Avg10On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Avg20On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Avg60On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Avg120On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Avg200On" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BollBand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BollMidColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="BollUpColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BollDownColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </ChartCtrl.Properties.Settings>
    </userSettings>
</configuration>